In [19]:
a = 'python is sexy'
print(type(a))

b = 1.24
print(type(b))

print(isinstance(a, str))
print(isinstance(b, int))

c = int(b)
print(type(c))
print(isinstance(c, (int, float)))
print(a +',' + str(b) + ',' + str(c))

<class 'str'>
<class 'float'>
True
False
<class 'int'>
False
python is sexy,1.24,1

In [31]:
a = 'steve jobs'
a.capitalize()

'Steve jobs'

In [33]:
import numpy as np

data= [1,2,0.5,0]
arr = np.array(data)
arr

array([1. , 2. , 0.5, 0. ])

In [5]:
x = [1,2,3,4]
y = x
z = list(x)
print(x is y)
print(x is z)

True
False

### Mutable and immutable objects

Objects whose value can be changed, once they are created are called mutable objects. Objects whose value cannot be changed, once they are created are called immutable objects

In [8]:
#list, dict, arrays are mutable
programming = ['sas','python','c#','R']
programming[2] = 'php'
print(programming)

['sas', 'python', 'php', 'R']

In [19]:
#Strings and tuples are immutable
z_tuple = (1,2,3,4)
z_tuple[2] = 6

TypeError: 'tuple' object does not support item assignment

In [20]:
x = 'Python iz Awesome'
print(x)
x[8] = 's'

Python iz Awesome

TypeError: 'str' object does not support item assignment

## Strings

In [14]:
# you can write multiline strings using triple quotes ''' or """
'''Hi! learn Python it is fun. Data science and machine learning are amazing'''

'Hi! learn Python it is fun. Data science and machine learning are amazing'

In [24]:
x = 'SAS is a powerful tool for data analysis'
y = x.replace('SAS','Python')
print(y)

Python is a powerful tool for data analysis

In [25]:
a = 'python'
print(list(a))

['p', 'y', 't', 'h', 'o', 'n']

In [27]:
#creating list is fun in this way. just write the string and let the python converts it to list.

x = 'familyhome'
y = list(x)
print(y)

['f', 'a', 'm', 'i', 'l', 'y', 'h', 'o', 'm', 'e']

In [30]:
#slicing
x= 'shahbaaz'
print(x[:4])

shah

In [31]:
print(x[4:])

baaz

In [32]:
#string concatanation
a = "today is "
b = "wednesday"
c = a+b
print(c)

today is wednesday

You have to do lot of string formatting while doing data analysis. You can format an argument as a string using %s, %d for an integer, %.3f for a number with 3 decimal points

In [36]:
print("Warning: Space is left is just %d mb and the using database is %s" %(0.970,'msql'))

Warning: Space is left is just 0 mb and the using database is msql

In [37]:
print("Warning: Space is left is just %f mb and the using database is %s" %(0.970,'msql'))

Warning: Space is left is just 0.970000 mb and the using database is msql

In [38]:
print("Warning: Space is left is just %.3f mb and the using database is %s" %(0.970,'msql'))

Warning: Space is left is just 0.970 mb and the using database is msql

##  date-time

In [39]:
from datetime import datetime, date, time
x= datetime(1990,12,29,10,45,56)
print(x)

1990-12-29 10:45:56

In [41]:
print(x.date())

1990-12-29

In [44]:
print(x.day)

29

In [45]:
print(x.time())

10:45:56

In [48]:
print(x.minute)

45

In [49]:
print(x.hour)

10

In [50]:
print(x.second)

56

In [53]:
#strf method converts the date and time into a string
x.strftime('%d/%m/%y %H:%M:%S')

'29/12/90 10:45:56'

In [56]:
# you can subtract two different date and time functions
x = datetime(1990,12,30,12,6,2)
x_new = datetime(1992,12,30,12,6,2)
print(x_new-x)

731 days, 0:00:00

## Handling Exceptions

Handling Exceptions is only a fancy name for handling python errors. In Python many functions work ony on certain type of input. For example, float function returns a value error, when you feed it with a string.

In [57]:
print(float(9.53))

9.53

In [58]:
float('hello')

ValueError: could not convert string to float: 'hello'

In [62]:
# suppose we want our float function to return the input value, we can do this using the folowing code.

def ret_float(x):
    try:
        return float(x)
    except:
        return x
    
print(ret_float(9.53))

9.53

In [61]:
print(ret_float('hello')) # This time it didnt return a value error

hello

In [73]:
def return_float(x):
    try:
        return float(x)
    except(TypeError, ValueError):
        return x
    
print(return_float(5,6))

TypeError: return_float() takes 1 positional argument but 2 were given

In [74]:
def return_float(x):
    try:
        return float(x)
    except(TypeError, ValueError):
        return x
    
print(return_float((5,6))) #pass the arguments as tuples notice the parathesis

(5, 6)

In [75]:
# these are called ternary expressions
x = 'Life is short use python'
'This is my favourite quote' if x == 'Life is short use python'  else 'I hate R'

'This is my favourite quote'

reference: Python Data Science Handbook_Oreilly